In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
%matplotlib notebook

In [2]:
# The code was removed by Watson Studio for sharing.

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
# The code was removed by Watson Studio for sharing.

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [4]:
df = df_train.append(df_test, sort= False)
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [5]:
df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [6]:
df.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
dtype: object

In [7]:
# Splitting the 'Date_of_Journey' feature to access its individual components
df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [8]:
# Dropping the 'Date_of_Journey' column as we have its individual information
df.drop(['Date_of_Journey'], axis= 1, inplace= True)
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [9]:
# Observing the data types of newly formed features
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                object
Month               object
Year                object
dtype: object

We can see here that _Date_, _Month_ and _Year_ is of type __object__. We have to convert it into __int64__ type.

In [10]:
# Converting object into int
df['Date'] = df['Date'].astype(int)
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

# After converting data types
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
dtype: object

In [11]:
df['Arrival_Time'] = df['Arrival_Time'].str.split(' ').str[0]
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [12]:
# Checking null values
df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [13]:
df[df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
9039,Air India,Delhi,Cochin,NaN,09:45,09:25,23h 40m,NaN,No info,7480.0,6,5,2019

In [14]:
df['Total_Stops'] = df['Total_Stops'].fillna('1 stop')

In [15]:
df['Total_Stops'] = df['Total_Stops'].replace('non-stop', '0 stop')
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0 stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [16]:
df['Total_Stops'] = df['Total_Stops'].str.split(' ').str[0] 
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1,No info,13302.0,1,3,2019

In [17]:
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
dtype: object

In [18]:
# Converting data type of 'Total_Stops'
df['Total_Stops'] = df['Total_Stops'].astype(int)
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops          int64
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
dtype: object

In [19]:
df['Arrival_Hour'] = df['Arrival_Time'].str.split(':').str[0]
df['Arrival_Minute'] = df['Arrival_Time'].str.split(':').str[1]
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0,No info,3897.0,24,3,2019,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2,No info,13882.0,9,6,2019,04,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1,No info,13302.0,1,3,2019,21,35

In [20]:
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops          int64
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
Arrival_Hour        object
Arrival_Minute      object
dtype: object

In [21]:
df['Arrival_Hour'] = df['Arrival_Hour'].astype(int)
df['Arrival_Minute'] = df['Arrival_Minute'].astype(int)
df.drop(['Arrival_Time'], axis= 1, inplace= True)

In [22]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,0,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2,No info,13882.0,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1,No info,13302.0,1,3,2019,21,35

In [23]:
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Duration            object
Total_Stops          int64
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
Arrival_Hour         int64
Arrival_Minute       int64
dtype: object

In [24]:
df['Departure_Hour'] = df['Dep_Time'].str.split(":").str[0]
df['Departure_Minute'] = df['Dep_Time'].str.split(":").str[1]
df.head()

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2,No info,7662.0,1,5,2019,13,15,05,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2,No info,13882.0,9,6,2019,4,25,09,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,05
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50

In [25]:
# Dropping 'Dep_Time' column as we have its individual components of it
df.drop(['Dep_Time'], axis= 1, inplace= True)
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662.0,1,5,2019,13,15,05,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882.0,9,6,2019,4,25,09,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,05
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50

In [26]:
df.dtypes

Airline              object
Source               object
Destination          object
Route                object
Duration             object
Total_Stops           int64
Additional_Info      object
Price               float64
Date                  int64
Month                 int64
Year                  int64
Arrival_Hour          int64
Arrival_Minute        int64
Departure_Hour       object
Departure_Minute     object
dtype: object

In [27]:
df['Departure_Hour'] = df['Departure_Hour'].astype(int)
df['Departure_Minute'] = df['Departure_Minute'].astype(int)
df.dtypes

Airline              object
Source               object
Destination          object
Route                object
Duration             object
Total_Stops           int64
Additional_Info      object
Price               float64
Date                  int64
Month                 int64
Year                  int64
Arrival_Hour          int64
Arrival_Minute        int64
Departure_Hour        int64
Departure_Minute      int64
dtype: object

In [28]:
df['Route_1'] = df['Route'].str.split('→ ').str[0]
df['Route_2'] = df['Route'].str.split('→ ').str[1]
df['Route_3'] = df['Route'].str.split('→ ').str[2]
df['Route_4'] = df['Route'].str.split('→ ').str[3]
df['Route_5'] = df['Route'].str.split('→ ').str[4]

In [29]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20,BLR,DEL,NaN,NaN,NaN
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662.0,1,5,2019,13,15,5,50,CCU,IXR,BBI,BLR,NaN
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882.0,9,6,2019,4,25,9,25,DEL,LKO,BOM,COK,NaN
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,5,CCU,NAG,BLR,NaN,NaN
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50,BLR,NAG,DEL,NaN,NaN

In [30]:
# Replacing the NULL value of the 'Price' column
df['Price'].fillna(df['Price'].mean(), inplace= True)

In [31]:
df['Route_1'].fillna('None', inplace= True)
df['Route_2'].fillna('None', inplace= True)
df['Route_3'].fillna('None', inplace= True)
df['Route_4'].fillna('None', inplace= True)
df['Route_5'].fillna('None', inplace= True)

In [32]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20,BLR,DEL,None,None,None
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662.0,1,5,2019,13,15,5,50,CCU,IXR,BBI,BLR,None
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882.0,9,6,2019,4,25,9,25,DEL,LKO,BOM,COK,None
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,5,CCU,NAG,BLR,None,None
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50,BLR,NAG,DEL,None,None

In [33]:
df.drop(['Route'], axis= 1, inplace= True)
df.drop(['Duration'], axis= 1, inplace= True)
df.drop(['Additional_Info'], axis= 1, inplace= True)
df.head()

,Airline,Source,Destination,Total_Stops,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,0,3897.0,24,3,2019,1,10,22,20,BLR,DEL,None,None,None
1,Air India,Kolkata,Banglore,2,7662.0,1,5,2019,13,15,5,50,CCU,IXR,BBI,BLR,None
2,Jet Airways,Delhi,Cochin,2,13882.0,9,6,2019,4,25,9,25,DEL,LKO,BOM,COK,None
3,IndiGo,Kolkata,Banglore,1,6218.0,12,5,2019,23,30,18,5,CCU,NAG,BLR,None,None
4,IndiGo,Banglore,New Delhi,1,13302.0,1,3,2019,21,35,16,50,BLR,NAG,DEL,None,None

In [34]:
# Checking finally the NULL value
df.isnull().sum()

Airline             0
Source              0
Destination         0
Total_Stops         0
Price               0
Date                0
Month               0
Year                0
Arrival_Hour        0
Arrival_Minute      0
Departure_Hour      0
Departure_Minute    0
Route_1             0
Route_2             0
Route_3             0
Route_4             0
Route_5             0
dtype: int64

### Feature Selection

In [35]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Airline'] = le.fit_transform(df['Airline'])
df['Source'] = le.fit_transform(df['Source'])
df['Destination'] = le.fit_transform(df['Destination'])
df['Route_1'] = le.fit_transform(df['Route_1'])
df['Route_2'] = le.fit_transform(df['Route_2'])
df['Route_3'] = le.fit_transform(df['Route_3'])
df['Route_4'] = le.fit_transform(df['Route_4'])
df['Route_5'] = le.fit_transform(df['Route_5'])

In [36]:
df.head()

,Airline,Source,Destination,Total_Stops,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,3,0,5,0,3897.0,24,3,2019,1,10,22,20,0,13,24,12,4
1,1,3,0,2,7662.0,1,5,2019,13,15,5,50,2,25,1,3,4
2,4,2,1,2,13882.0,9,6,2019,4,25,9,25,3,32,4,5,4
3,3,3,0,1,6218.0,12,5,2019,23,30,18,5,2,34,3,12,4
4,3,0,5,1,13302.0,1,3,2019,21,35,16,50,0,34,8,12,4

In [37]:
X = df[['Airline', 'Source', 'Destination', 'Total_Stops', 'Date', 'Month', 'Year', 'Arrival_Hour', 'Arrival_Minute', 'Departure_Hour', 'Departure_Minute']].values
X[:5]

array([[   3,    0,    5,    0,   24,    3, 2019,    1,   10,   22,   20],
       [   1,    3,    0,    2,    1,    5, 2019,   13,   15,    5,   50],
       [   4,    2,    1,    2,    9,    6, 2019,    4,   25,    9,   25],
       [   3,    3,    0,    1,   12,    5, 2019,   23,   30,   18,    5],
       [   3,    0,    5,    1,    1,    3, 2019,   21,   35,   16,   50]])

In [38]:
y = df['Price']
y[:5]

0     3897.0
1     7662.0
2    13882.0
3     6218.0
4    13302.0
Name: Price, dtype: float64

In [39]:
from sklearn.model_selection import train_test_split, cross_val_score

In [40]:
from sklearn.metrics import mean_squared_error, r2_score

### Linear Regression

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
# The code was removed by Watson Studio for sharing.

'\nfor i in range(0, 30):\n    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= i)\n    lr = LinearRegression(fit_intercept= True, copy_X= True).fit(X_train, y_train)\n    \n    train_score = lr.score(X_train, y_train)\n    test_score = lr.score(X_test, y_test)\n    \n    print("Test: {:.3f}, Train: {:.3f} and Random state: {}".format(test_score, train_score, i))\n'

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= 28)
lr = LinearRegression(fit_intercept= True, copy_X= True).fit(X_train, y_train)

In [44]:
lr_cv_score = np.mean(cross_val_score(lr, X_train, y_train, cv= 5))
print("Linear Regression Cross Validated score: ", lr_cv_score)

Linear Regression Cross Validated score:  0.3366691593519839

In [45]:
lr_predict = lr.predict(X_test)
lr_mean = np.mean(y_test)
lr_r2 = r2_score(y_test, lr_predict)
lr_rmse = np.sqrt(mean_squared_error(y_test, lr_predict))

print("Mean Price= ", lr_mean)
print("Linear Regression R2 score hold out= ", lr_r2)
print("Linear Regression RMSE hold out= ", lr_rmse)

Mean Price=  9063.99594900958
Linear Regression R2 score hold out=  0.3554016166500543
Linear Regression RMSE hold out=  3259.162448260651

### KNN Regressor

In [46]:
from sklearn.neighbors import KNeighborsRegressor

In [47]:
# The code was removed by Watson Studio for sharing.

'\nfor i in range(1, 31):\n    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= i)\n    \n    knn_regressor = KNeighborsRegressor(n_neighbors= i, weights= \'uniform\', algorithm= \'auto\', metric= \'euclidean\')\n    knn_regressor.fit(X_train, y_train)\n    \n    train_score = knn_regressor.score(X_train, y_train)\n    test_score = knn_regressor.score(X_test, y_test)\n    \n    print("Test score: {:.3f}, Train score: {:.3f} and random state= {}".format(test_score, train_score, i))\n'

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 5)
    
knn_regressor = KNeighborsRegressor(n_neighbors= 5, weights= 'uniform', algorithm= 'auto', metric= 'euclidean')
knn_regressor.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='euclidean',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [49]:
knn_regressor_cv_score = np.mean(cross_val_score(knn_regressor, X_train, y_train, cv= 5))
print("KNN Regressor Cross validated score: ", knn_regressor_cv_score)

KNN Regressor Cross validated score:  0.421919363672896

In [50]:
knn_predict = knn_regressor.predict(X_test)
knn_regressor_mean = np.mean(y_test)
knn_regressor_r2 = r2_score(y_test, knn_predict)
knn_regressor_rmse = np.sqrt(mean_squared_error(y_test, knn_predict))

print("Mean Price = ", knn_regressor_mean)
print("KNN R2 score on hold out set = ", knn_regressor_r2)
print("KNN RMSE score = ", knn_regressor_rmse)

Mean Price =  9173.620552530398
KNN R2 score on hold out set =  0.4355278544505692
KNN RMSE score =  3222.3720708069927

### Ridge Regression

In [51]:
from sklearn.linear_model import Ridge

In [52]:
# The code was removed by Watson Studio for sharing.

'\nfor i in range(0, 20):    \n    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= i)\n    \n    rr = Ridge(alpha= 1, fit_intercept= True, normalize= True, copy_X= True, solver= \'auto\', random_state= i)\n    rr.fit(X_train, y_train)\n    \n    train_score = rr.score(X_train, y_train)\n    test_score = rr.score(X_test, y_test)\n    \n    print("Test: {:.3f}, Train: {:.3f} and Random state= {}".format(test_score, train_score, i))\n'

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= 4)
    
rr = Ridge(alpha= 1, fit_intercept= True, normalize= True, copy_X= True, tol= 0.001, solver= 'auto', random_state= 4)
rr.fit(X_train, y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
   random_state=4, solver='auto', tol=0.001)

In [54]:
rr_cv_score = np.mean(cross_val_score(rr, X_train, y_train, cv= 5))
print("Ridge Regression cross validated score= ", rr_cv_score)

Ridge Regression cross validated score=  0.24481822326399136

In [55]:
rr_predict = rr.predict(X_test)
rr_mean = np.mean(y_test)
rr_r2 = r2_score(y_test, rr_predict)
rr_rmse = np.sqrt(mean_squared_error(y_test, rr_predict))

print('Mean Price = ', rr_mean)
print('Ridge Regression R^2 on hold out set = ', rr_r2)
print('Ridge Regression RMSE on hold out set = ', rr_rmse)

Mean Price =  9114.278775842266
Ridge Regression R^2 on hold out set =  0.2634106302487397
Ridge Regression RMSE on hold out set =  3362.51434709131

### Lasso Regression

In [56]:
from sklearn.linear_model import Lasso

In [57]:
# The code was removed by Watson Studio for sharing.

"\nfor i in range(0, 20):\n    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= i)\n    lasso_reg = Lasso(alpha= 1.0, fit_intercept= True, normalize= True, copy_X= True, max_iter= 1000, tol= 0.0001, random_state= i)\n    lasso_reg.fit(X_train, y_train)\n    \n    train_score = lasso_reg.score(X_train, y_train)\n    test_score = lasso_reg.score(X_test, y_test)\n    \n    print('Test: {:.3f}, Train: {:.3f} and Random state= {}'.format(test_score, train_score, i))\n"

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 4)

lasso_reg = Lasso(alpha= 1.0, fit_intercept= True, normalize= True, copy_X= True, max_iter= 1000, tol= 0.0001, random_state= 4)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=True, positive=False, precompute=False, random_state=4,
   selection='cyclic', tol=0.0001, warm_start=False)

In [59]:
lasso_reg_cv_score = np.mean(cross_val_score(lasso_reg, X_train, y_train, cv= 5))
print("Lasso Regression cross validated score= ", lasso_reg_cv_score)

Lasso Regression cross validated score=  0.334930120186421

In [60]:
lasso_reg_predict = lasso_reg.predict(X_test)
lasso_reg_mean = np.mean(y_test)
lasso_reg_r2 = r2_score(y_test, lasso_reg_predict)
lasso_reg_rmse = np.sqrt(mean_squared_error(y_test, lasso_reg_predict))

print('Mean Price = ', lasso_reg_mean)
print('Lasso Regression R^2 on hold out set = ', lasso_reg_r2)
print('Lasso Regression RMSE on hold out set = ', lasso_reg_rmse)

Mean Price =  9114.278775842266
Lasso Regression R^2 on hold out set =  0.35295840152054925
Lasso Regression RMSE on hold out set =  3151.5015409591756

### Elastic Net

In [61]:
from sklearn.linear_model import ElasticNet

In [62]:
# The code was removed by Watson Studio for sharing.

'\nfor i in range(0, 20):\n    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= i)\n    \n    elasticnet_reg = ElasticNet(alpha= 0.001, l1_ratio= 0.5, fit_intercept= True, normalize= True, max_iter= 1000, tol= 0.0001, random_state= i)\n    elasticnet_reg.fit(X_train, y_train)\n    \n    test_score = elasticnet_reg.score(X_train, y_train)\n    train_score = elasticnet_reg.score(X_test, y_test)\n    \n    print("Test: {:.3f}, Train: {:.3f} and Random state= {}".format(test_score, train_score, i))\n'

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= 19)
    
elasticnet_reg = ElasticNet(alpha= 0.001, l1_ratio= 0.5, fit_intercept= True, normalize= True, max_iter= 1000, tol= 0.0001, random_state= 19)
elasticnet_reg.fit(X_train, y_train)

ElasticNet(alpha=0.001, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=True, positive=False, precompute=False,
      random_state=19, selection='cyclic', tol=0.0001, warm_start=False)

In [64]:
elasticnet_reg_cv_score = np.mean(cross_val_score(elasticnet_reg, X_train, y_train, cv= 5))
print("Elastic Net Regression cross validated score= ", elasticnet_reg_cv_score)

Elastic Net Regression cross validated score=  0.11969076477491732

In [65]:
elasticnet_reg_predict = elasticnet_reg.predict(X_test)
elasticnet_reg_mean = np.mean(y_test)
elasticnet_reg_r2 = r2_score(y_test, elasticnet_reg_predict)
elasticnet_reg_rmse = np.sqrt(mean_squared_error(y_test, elasticnet_reg_predict))

print('Mean Price = ', elasticnet_reg_mean)
print('Lasso Regression R^2 on hold out set = ', elasticnet_reg_r2)
print('Lasso Regression RMSE on hold out set = ', elasticnet_reg_rmse)

Mean Price =  9127.591716827708
Lasso Regression R^2 on hold out set =  0.0933450380598706
Lasso Regression RMSE on hold out set =  4036.6478058992516

### Random Forest Regressor

In [66]:
from sklearn.ensemble import RandomForestRegressor

In [67]:
# The code was removed by Watson Studio for sharing.

'\nfor i in range(0, 20):\n    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= i)\n    \n    rfg = RandomForestRegressor(random_state= i, n_estimators= 100, criterion= \'mse\')\n    rfg.fit(X_train, y_train)\n    \n    test_score = rfg.score(X_train, y_train)\n    train_score = rfg.score(X_test, y_test)\n    \n    print("Test: {:.3f}, Train: {:.3f} and Random state= {}".format(test_score, train_score, i))\n'

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= 0)
    
rfg = RandomForestRegressor(random_state= 0, n_estimators= 100, criterion= 'mse')
rfg.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [69]:
rfg_cv_score = np.mean(cross_val_score(rfg, X_train, y_train, cv= 5))
print("Random Forest Regression cross validated score= ", rfg_cv_score)

Random Forest Regression cross validated score=  0.5997110294497943

In [70]:
rfg_predict = rfg.predict(X_test)
rfg_mean = np.mean(y_test)
rfg_r2 = r2_score(y_test, rfg_predict)
rfg_rmse = np.sqrt(mean_squared_error(y_test, rfg_predict))

print('Mean Price = ', rfg_mean)
print('Lasso Regression R^2 on hold out set = ', rfg_r2)
print('Lasso Regression RMSE on hold out set = ', rfg_rmse)

Mean Price =  9057.388896556173
Lasso Regression R^2 on hold out set =  0.5391224687302099
Lasso Regression RMSE on hold out set =  2745.722423563601

### AdaBoost Regressor

In [71]:
from sklearn.ensemble import AdaBoostRegressor

In [72]:
for i in range(0, 20):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= i)
    
    abr = AdaBoostRegressor(random_state= i, n_estimators= 100, loss= 'linear')
    abr.fit(X_train, y_train)
    
    test_score = abr.score(X_train, y_train)
    train_score = abr.score(X_test, y_test)
    
    print("Test: {:.3f}, Train: {:.3f} and Random state= {}".format(test_score, train_score, i))

Test: 0.343, Train: 0.227 and Random state= 0
Test: 0.462, Train: 0.464 and Random state= 1
Test: 0.454, Train: 0.473 and Random state= 2
Test: 0.426, Train: 0.340 and Random state= 3
Test: 0.481, Train: 0.373 and Random state= 4
Test: 0.402, Train: 0.385 and Random state= 5
Test: 0.034, Train: -0.018 and Random state= 6
Test: 0.400, Train: 0.305 and Random state= 7
Test: 0.342, Train: 0.280 and Random state= 8
Test: 0.448, Train: 0.371 and Random state= 9
Test: 0.446, Train: 0.436 and Random state= 10
Test: 0.410, Train: 0.312 and Random state= 11
Test: 0.468, Train: 0.326 and Random state= 12
Test: 0.375, Train: 0.347 and Random state= 13
Test: 0.369, Train: 0.327 and Random state= 14
Test: -0.023, Train: -0.026 and Random state= 15
Test: 0.366, Train: 0.252 and Random state= 16
Test: 0.428, Train: 0.315 and Random state= 17
Test: 0.445, Train: 0.402 and Random state= 18
Test: 0.426, Train: 0.423 and Random state= 19

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= 1)
    
abr = AdaBoostRegressor(random_state= 1, n_estimators= 100, loss= 'linear')
abr.fit(X_train, y_train)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
         n_estimators=100, random_state=1)

In [74]:
abr_cv_score = np.mean(cross_val_score(abr, X_train, y_train, cv= 5))
print("Ada Boost Regression cross validated score= ", abr_cv_score)

Ada Boost Regression cross validated score=  0.3525716450991586

In [75]:
abr_predict = abr.predict(X_test)
abr_mean = np.mean(y_test)
abr_r2 = r2_score(y_test, abr_predict)
abr_rmse = np.sqrt(mean_squared_error(y_test, abr_predict))

print('Mean Price = ', abr_mean)
print('Lasso Regression R^2 on hold out set = ', abr_r2)
print('Lasso Regression RMSE on hold out set = ', abr_rmse)

Mean Price =  9199.904201021594
Lasso Regression R^2 on hold out set =  0.46354056015920464
Lasso Regression RMSE on hold out set =  3023.891755661613

### Gradient Boosting Regressor

In [76]:
from sklearn.ensemble import GradientBoostingRegressor

In [77]:
# The code was removed by Watson Studio for sharing.

'\nfor i in range(0, 20):\n    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= i)\n    \n    gbr = GradientBoostingRegressor(random_state= i, n_estimators= 100, learning_rate= 0.1, criterion= \'mse\')\n    gbr.fit(X_train, y_train)\n    \n    test_score = gbr.score(X_train, y_train)\n    train_score = gbr.score(X_test, y_test)\n    \n    print("Test: {:.3f}, Train: {:.3f} and Random state= {}".format(test_score, train_score, i))\n'

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= 12)
    
gbr = GradientBoostingRegressor(random_state= 12, n_estimators= 100, learning_rate= 0.1, criterion= 'mse')
gbr.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, n_iter_no_change=None, presort='auto',
             random_state=12, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)

In [79]:
gbr_cv_score = np.mean(cross_val_score(gbr, X_train, y_train, cv= 5))
print("Random Forest Regression cross validated score= ", gbr_cv_score)

Random Forest Regression cross validated score=  0.6156336648375305

In [80]:
gbr_predict = gbr.predict(X_test)
gbr_mean = np.mean(y_test)
gbr_r2 = r2_score(y_test, gbr_predict)
gbr_rmse = np.sqrt(mean_squared_error(y_test, gbr_predict))

print('Mean Price = ', gbr_mean)
print('Lasso Regression R^2 on hold out set = ', gbr_r2)
print('Lasso Regression RMSE on hold out set = ', gbr_rmse)

Mean Price =  9041.599131378262
Lasso Regression R^2 on hold out set =  0.575223743924099
Lasso Regression RMSE on hold out set =  2619.216683380694