In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
%matplotlib notebook

In [2]:
# The code was removed by Watson Studio for sharing.

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
# The code was removed by Watson Studio for sharing.

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [4]:
df = df_train.append(df_test, sort= False)
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [5]:
df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [6]:
df.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
dtype: object

In [7]:
# Splitting the 'Date_of_Journey' feature to access its individual components
df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [8]:
# Dropping the 'Date_of_Journey' column as we have its individual information
df.drop(['Date_of_Journey'], axis= 1, inplace= True)
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [9]:
# Observing the data types of newly formed features
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                object
Month               object
Year                object
dtype: object

We can see here that _Date_, _Month_ and _Year_ is of type __object__. We have to convert it into __int64__ type.

In [10]:
# Converting object into int
df['Date'] = df['Date'].astype(int)
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

# After converting data types
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
dtype: object

In [11]:
df['Arrival_Time'] = df['Arrival_Time'].str.split(' ').str[0]
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [12]:
# Checking null values
df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [13]:
df[df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
9039,Air India,Delhi,Cochin,NaN,09:45,09:25,23h 40m,NaN,No info,7480.0,6,5,2019

In [14]:
df['Total_Stops'] = df['Total_Stops'].fillna('1 stop')

In [15]:
df['Total_Stops'] = df['Total_Stops'].replace('non-stop', '0 stop')
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0 stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [16]:
df['Total_Stops'] = df['Total_Stops'].str.split(' ').str[0] 
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1,No info,13302.0,1,3,2019

In [17]:
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
dtype: object

In [18]:
# Converting data type of 'Total_Stops'
df['Total_Stops'] = df['Total_Stops'].astype(int)
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops          int64
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
dtype: object

In [19]:
df['Arrival_Hour'] = df['Arrival_Time'].str.split(':').str[0]
df['Arrival_Minute'] = df['Arrival_Time'].str.split(':').str[1]
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0,No info,3897.0,24,3,2019,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2,No info,13882.0,9,6,2019,04,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1,No info,13302.0,1,3,2019,21,35

In [20]:
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops          int64
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
Arrival_Hour        object
Arrival_Minute      object
dtype: object

In [21]:
df['Arrival_Hour'] = df['Arrival_Hour'].astype(int)
df['Arrival_Minute'] = df['Arrival_Minute'].astype(int)
df.drop(['Arrival_Time'], axis= 1, inplace= True)

In [22]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,0,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2,No info,13882.0,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1,No info,13302.0,1,3,2019,21,35

In [23]:
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Duration            object
Total_Stops          int64
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
Arrival_Hour         int64
Arrival_Minute       int64
dtype: object

In [24]:
df['Departure_Hour'] = df['Dep_Time'].str.split(":").str[0]
df['Departure_Minute'] = df['Dep_Time'].str.split(":").str[1]
df.head()

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2,No info,7662.0,1,5,2019,13,15,05,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2,No info,13882.0,9,6,2019,4,25,09,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,05
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50

In [25]:
# Dropping 'Dep_Time' column as we have its individual components of it
df.drop(['Dep_Time'], axis= 1, inplace= True)
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662.0,1,5,2019,13,15,05,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882.0,9,6,2019,4,25,09,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,05
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50

In [26]:
df.dtypes

Airline              object
Source               object
Destination          object
Route                object
Duration             object
Total_Stops           int64
Additional_Info      object
Price               float64
Date                  int64
Month                 int64
Year                  int64
Arrival_Hour          int64
Arrival_Minute        int64
Departure_Hour       object
Departure_Minute     object
dtype: object

In [27]:
df['Departure_Hour'] = df['Departure_Hour'].astype(int)
df['Departure_Minute'] = df['Departure_Minute'].astype(int)
df.dtypes

Airline              object
Source               object
Destination          object
Route                object
Duration             object
Total_Stops           int64
Additional_Info      object
Price               float64
Date                  int64
Month                 int64
Year                  int64
Arrival_Hour          int64
Arrival_Minute        int64
Departure_Hour        int64
Departure_Minute      int64
dtype: object

In [28]:
df['Route_1'] = df['Route'].str.split('→ ').str[0]
df['Route_2'] = df['Route'].str.split('→ ').str[1]
df['Route_3'] = df['Route'].str.split('→ ').str[2]
df['Route_4'] = df['Route'].str.split('→ ').str[3]
df['Route_5'] = df['Route'].str.split('→ ').str[4]

In [29]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20,BLR,DEL,NaN,NaN,NaN
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662.0,1,5,2019,13,15,5,50,CCU,IXR,BBI,BLR,NaN
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882.0,9,6,2019,4,25,9,25,DEL,LKO,BOM,COK,NaN
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,5,CCU,NAG,BLR,NaN,NaN
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50,BLR,NAG,DEL,NaN,NaN

In [30]:
# Replacing the NULL value of the 'Price' column
df['Price'].fillna(df['Price'].mean(), inplace= True)

In [31]:
df['Route_1'].fillna('None', inplace= True)
df['Route_2'].fillna('None', inplace= True)
df['Route_3'].fillna('None', inplace= True)
df['Route_4'].fillna('None', inplace= True)
df['Route_5'].fillna('None', inplace= True)

In [32]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20,BLR,DEL,None,None,None
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662.0,1,5,2019,13,15,5,50,CCU,IXR,BBI,BLR,None
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882.0,9,6,2019,4,25,9,25,DEL,LKO,BOM,COK,None
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,5,CCU,NAG,BLR,None,None
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50,BLR,NAG,DEL,None,None

In [33]:
df.drop(['Route'], axis= 1, inplace= True)
df.drop(['Duration'], axis= 1, inplace= True)
df.drop(['Additional_Info'], axis= 1, inplace= True)
df.head()

,Airline,Source,Destination,Total_Stops,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,0,3897.0,24,3,2019,1,10,22,20,BLR,DEL,None,None,None
1,Air India,Kolkata,Banglore,2,7662.0,1,5,2019,13,15,5,50,CCU,IXR,BBI,BLR,None
2,Jet Airways,Delhi,Cochin,2,13882.0,9,6,2019,4,25,9,25,DEL,LKO,BOM,COK,None
3,IndiGo,Kolkata,Banglore,1,6218.0,12,5,2019,23,30,18,5,CCU,NAG,BLR,None,None
4,IndiGo,Banglore,New Delhi,1,13302.0,1,3,2019,21,35,16,50,BLR,NAG,DEL,None,None

In [34]:
# Checking finally the NULL value
df.isnull().sum()

Airline             0
Source              0
Destination         0
Total_Stops         0
Price               0
Date                0
Month               0
Year                0
Arrival_Hour        0
Arrival_Minute      0
Departure_Hour      0
Departure_Minute    0
Route_1             0
Route_2             0
Route_3             0
Route_4             0
Route_5             0
dtype: int64

### Feature Selection

In [35]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Airline'] = le.fit_transform(df['Airline'])
df['Source'] = le.fit_transform(df['Source'])
df['Destination'] = le.fit_transform(df['Destination'])
df['Route_1'] = le.fit_transform(df['Route_1'])
df['Route_2'] = le.fit_transform(df['Route_2'])
df['Route_3'] = le.fit_transform(df['Route_3'])
df['Route_4'] = le.fit_transform(df['Route_4'])
df['Route_5'] = le.fit_transform(df['Route_5'])

In [36]:
df.head()

,Airline,Source,Destination,Total_Stops,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,3,0,5,0,3897.0,24,3,2019,1,10,22,20,0,13,24,12,4
1,1,3,0,2,7662.0,1,5,2019,13,15,5,50,2,25,1,3,4
2,4,2,1,2,13882.0,9,6,2019,4,25,9,25,3,32,4,5,4
3,3,3,0,1,6218.0,12,5,2019,23,30,18,5,2,34,3,12,4
4,3,0,5,1,13302.0,1,3,2019,21,35,16,50,0,34,8,12,4

In [37]:
X = df[['Airline', 'Source', 'Destination', 'Total_Stops', 'Date', 'Month', 'Year', 'Arrival_Hour', 'Arrival_Minute', 'Departure_Hour', 'Departure_Minute']].values
X[:5]

array([[   3,    0,    5,    0,   24,    3, 2019,    1,   10,   22,   20],
       [   1,    3,    0,    2,    1,    5, 2019,   13,   15,    5,   50],
       [   4,    2,    1,    2,    9,    6, 2019,    4,   25,    9,   25],
       [   3,    3,    0,    1,   12,    5, 2019,   23,   30,   18,    5],
       [   3,    0,    5,    1,    1,    3, 2019,   21,   35,   16,   50]])

In [38]:
y = df['Price']
y[:5]

0     3897.0
1     7662.0
2    13882.0
3     6218.0
4    13302.0
Name: Price, dtype: float64

In [39]:
from sklearn.model_selection import train_test_split, cross_val_score

In [40]:
from sklearn.metrics import mean_squared_error, r2_score

### Linear Regression

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
for i in range(0, 30):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= i)
    lr = LinearRegression(fit_intercept= True, copy_X= True).fit(X_train, y_train)
    
    train_score = lr.score(X_train, y_train)
    test_score = lr.score(X_test, y_test)
    
    print("Test: {:.3f}, Train: {:.3f} and Random state: {}".format(test_score, train_score, i))

Test: 0.342, Train: 0.343 and Random state: 0
Test: 0.329, Train: 0.347 and Random state: 1
Test: 0.342, Train: 0.343 and Random state: 2
Test: 0.360, Train: 0.337 and Random state: 3
Test: 0.353, Train: 0.340 and Random state: 4
Test: 0.317, Train: 0.352 and Random state: 5
Test: 0.341, Train: 0.343 and Random state: 6
Test: 0.346, Train: 0.341 and Random state: 7
Test: 0.338, Train: 0.344 and Random state: 8
Test: 0.346, Train: 0.341 and Random state: 9
Test: 0.338, Train: 0.344 and Random state: 10
Test: 0.354, Train: 0.339 and Random state: 11
Test: 0.346, Train: 0.341 and Random state: 12
Test: 0.365, Train: 0.336 and Random state: 13
Test: 0.372, Train: 0.334 and Random state: 14
Test: 0.322, Train: 0.350 and Random state: 15
Test: 0.354, Train: 0.338 and Random state: 16
Test: 0.334, Train: 0.345 and Random state: 17
Test: 0.327, Train: 0.348 and Random state: 18
Test: 0.330, Train: 0.347 and Random state: 19
Test: 0.330, Train: 0.346 and Random state: 20
Test: 0.327, Train: 0.348 and Random state: 21
Test: 0.343, Train: 0.342 and Random state: 22
Test: 0.342, Train: 0.343 and Random state: 23
Test: 0.344, Train: 0.342 and Random state: 24
Test: 0.346, Train: 0.341 and Random state: 25
Test: 0.331, Train: 0.346 and Random state: 26
Test: 0.337, Train: 0.344 and Random state: 27
Test: 0.355, Train: 0.338 and Random state: 28
Test: 0.360, Train: 0.337 and Random state: 29

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= 28)
lr = LinearRegression(fit_intercept= True, copy_X= True).fit(X_train, y_train)

In [44]:
lr_cv_score = np.mean(cross_val_score(lr, X_train, y_train, cv= 5))
print("Linear Regression Cross Validated score: ", lr_cv_score)

Linear Regression Cross Validated score:  0.3366691593519839

In [46]:
lr_predict = lr.predict(X_test)
lr_mean = np.mean(y_test)
lr_r2 = r2_score(y_test, lr_predict)
lr_rmse = np.sqrt(mean_squared_error(y_test, lr_predict))

print("Mean Price= ", lr_mean)
print("Linear Regression R2 score hold out= ", lr_r2)
print("Linear Regression RMSE hold out= ", lr_rmse)

Mean Price=  9063.99594900958
Linear Regression R2 score hold out=  0.3554016166500543
Linear Regression RMSE hold out=  3259.162448260651

### KNN Regressor

In [47]:
from sklearn.neighbors import KNeighborsRegressor

In [52]:
for i in range(1, 31):
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= i)
    
    knn_regressor = KNeighborsRegressor(n_neighbors= i, weights= 'uniform', algorithm= 'auto', metric= 'euclidean')
    knn_regressor.fit(X_train, y_train)
    
    train_score = knn_regressor.score(X_train, y_train)
    test_score = knn_regressor.score(X_test, y_test)
    
    print("Test score: {:.3f}, Train score: {:.3f} and random state= {}".format(test_score, train_score, i))

Test score: 0.267, Train score: 0.891 and random state= 1
Test score: 0.422, Train score: 0.788 and random state= 2
Test score: 0.358, Train score: 0.728 and random state= 3
Test score: 0.408, Train score: 0.685 and random state= 4
Test score: 0.436, Train score: 0.642 and random state= 5
Test score: 0.379, Train score: 0.621 and random state= 6
Test score: 0.421, Train score: 0.585 and random state= 7
Test score: 0.453, Train score: 0.569 and random state= 8
Test score: 0.426, Train score: 0.555 and random state= 9
Test score: 0.427, Train score: 0.540 and random state= 10
Test score: 0.401, Train score: 0.523 and random state= 11
Test score: 0.396, Train score: 0.507 and random state= 12
Test score: 0.397, Train score: 0.496 and random state= 13
Test score: 0.420, Train score: 0.475 and random state= 14
Test score: 0.364, Train score: 0.482 and random state= 15
Test score: 0.362, Train score: 0.464 and random state= 16
Test score: 0.346, Train score: 0.454 and random state= 17
Test score: 0.380, Train score: 0.439 and random state= 18
Test score: 0.356, Train score: 0.441 and random state= 19
Test score: 0.340, Train score: 0.432 and random state= 20
Test score: 0.337, Train score: 0.423 and random state= 21
Test score: 0.331, Train score: 0.417 and random state= 22
Test score: 0.339, Train score: 0.410 and random state= 23
Test score: 0.349, Train score: 0.395 and random state= 24
Test score: 0.325, Train score: 0.391 and random state= 25
Test score: 0.318, Train score: 0.388 and random state= 26
Test score: 0.301, Train score: 0.392 and random state= 27
Test score: 0.337, Train score: 0.371 and random state= 28
Test score: 0.316, Train score: 0.371 and random state= 29
Test score: 0.299, Train score: 0.372 and random state= 30

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 5)
    
knn_regressor = KNeighborsRegressor(n_neighbors= i, weights= 'uniform', algorithm= 'auto', metric= 'euclidean')
knn_regressor.fit(X_train, y_train)

In [53]:
knn_regressor_cv_score = np.mean(cross_val_score(knn_regressor, X_train, y_train, cv= 5))
print("KNN Regressor Cross validated score: ", knn_regressor_cv_score)

KNN Regressor Cross validated score:  0.3010593478122501

In [54]:
knn_predict = knn_regressor.predict(X_test)
knn_regressor_mean = np.mean(y_test)
knn_regressor_r2 = r2_score(y_test, knn_predict)
knn_regressor_rmse = np.sqrt(mean_squared_error(y_test, knn_predict))

print("Mean Price = ", knn_regressor_mean)
print("KNN R2 score on hold out set = ", knn_regressor_r2)
print("KNN RMSE score = ", knn_regressor_rmse)

Mean Price =  9171.496014175409
KNN R2 score on hold out set =  0.29895186208499924
KNN RMSE score =  3337.088237601387

### Ridge Regression

In [55]:
from sklearn.linear_model import Ridge